---
layout: 'base.njk'
---

<div class="main-content"></div>
<div class="spacer"></div></div><div class="section-1">

<a href="/blog/">
  <button class="section-1-button">Return to Articles</button>
</a></div><div class="section-article">


<article>
<h1 class="">{{ blogTitle }}</h1>
  <h3 class="">{{ date | postDate }}</h3>

<figure>
  <img src = "{{ image }}" class = "article-img" alt = " {{ imageAlt }}">

    <figcaption>
      {{ imageAlt }}
     </figcaption>
</figure>


{{ content | safe }}

</article>