<li>
  <article class="snippet">
    <a href=" {{post.url }}">
    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="article-img-link"> </a>
    <a href=" {{post.url }}">
      <h3 class="snippet_title">
        {{ post.data.blogTitle }}</h3>
    </a>
    <h3 class="">
      {{ post.data.date | postDate }}</h3>
    <p>
      {{ post.data.description }} [...]
    </p>
    <a href=" {{post.url }}">Continue Reading</a>
  </article>
</li>