<footer>
  <div class="footer navbar-fixed-bottom">
    <img class="footer-logo" src="/img/feasible_creative_logo.png" id="feasible creative logo">
    <div>
      <a href="contact.html"><img class="social-img" src="/img/social_email.png"> </a>
      <a href="https://www.youtube.com/channel/UC5nrnzZ5sWYNLkdvNRtE-4g/?sub_confirmation=1"><img class="social-img" src="/img/social_youtube.png"> </a>
      <a href="https://www.instagram.com/feasible.creative/" target="_blank"><img class="social-img" src="/img/social_instagram.png"> </a>
    </div>
    <p class="copyright">© 2022 feasible creative</p>
  </div>
</footer>