  <nav class="navbar">

    <div class="content">
      <div class="logo">
        <a href="/"><img class="logo-image" src="/img/feasible_creative_logo.png"
            alt="feasible creative logo"></a>
      </div>

      

     <ul class="menu-list">
        <div class="icon cancel-btn"><img src="/img/close.png" class="close-btn"></div>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/work/">Work</a></li>
        <li><a href="/blog/articles/">Articles</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    
    </div>

</div><img src="/img/menu.png" class="menu-btn"></div>



  </nav>  