---
blogTitle: 4 MUST-KNOW Midjourney Parameters to Make Mind-Blowing AI Art
title: Blog | 4 MUST-KNOW Midjourney Parameters to Make Mind-Blowing AI Art
author:
date: 2022-11-24
image: /img/AI Art_Thumbnail_article.jpg
imageAlt: Midjourney AI Art / Feasible Creative
description: Midjourney is a San Francisco-based research lab that has developed an AI Art Generator currently operating through a Discord server. Users can create mind-blowing AI art images in seconds by

tags: ["post", "featured"]
---

<a href="#top"><img src="/img/upload.png" id="section-up" /> </a>

<h2>Midjourney Explained</h2>
<p>
  <a href="https://www.midjourney.com/" target="_blank"
    ><strong>Midjourney</strong></a
  >
  is a San Francisco-based research lab that has developed an AI Art Generator
  currently operating through a Discord server. Users can create mind-blowing
  art images in seconds by typing text-based commands into the chat that
  instruct the artificial intelligence engine to run. At first glance, the idea
  of developing these commands can seem overwhelming. For this reason, in this
  article we cover <i>4 Essential Parameters</i> you can use to start creating
  incredible AI Art with Midjourney!
</p>

<h2>1. --ar (Aspect Ratio)</h2>
<p>
  This parameter allows users to manipulate the aspect ratio of images generated
  by Midjourney. The default aspect ratio is 1:1 (1 by 1) which is essentially a
  standard square shape. As you continue on your AI Art journey, you will likely
  want to adjust the dimensions of your designs.
</p>

<img src="/img/midjourney_1.jpg" class="article-body-img" />

<p>
  Midjourney supports many other aspect ratios beyond 1:1, including 16:9 which
  is the standard for widescreen TV and computer screens. This parameter can be
  added to your commands by typing in "--ar [desired aspect ratio]" For example,
  "--ar 3:2" (without quotation marks) will output images generated in the 3:2
  aspect ratio. The images below show a "futuristic Mona Lisa" in the 3:2 aspect
  ratio:
</p>

<img src="/img/midjourney_2.jpg" class="article-body-img" />

<h2>2. 4K, 8K, Intricate Details, Ultra Realistic (Resolution Keywords)</h2>

<p>
  Resolution keywords including "4K" and "Ultra Realistic" can be added to your
  Midjourney commands to adjust the detail level of your images. You likely
  noticed the Mona Lisa design above lacks realistic details, which is a result
  of not including any resolution keywords. These resolution keywords can come
  especially in handy when you are looking to generate a specific style of art.
</p>

<p>The following image was created by including the "8K" keyword:</p>

<img src="/img/midjourney_3.jpg" class="article-body-img" />
<p>
  Clearly, this image is much more detailed when compared to the default images
  the Midjourney engine outputs.
</p>

<h2>3. --chaos (Abstraction Level)</h2>
<p>
  As the name suggests, the "chaos" parameter can be added to your Midjourney
  commands to adjust the level of Abstraction. By typing in "--chaos [Level of
  Abstraction from 0 - 100]" you can utilize the chaos parameter. For example,
  including "--chaos 50" within your command will output images with a medium
  level of abstraction. The following image does an excellent job of comparing
  the difference between the minimum and maximum levels of chaos (0, 100
  respectively):
</p>

<img src="/img/midjourney_5.jpg" class="article-body-img" />

<h2>4. --no (Remove/Withhold Specific Keyword)</h2>
<p>
  Let's say you want to create soup without broth, or a zoo without animals - in
  these instances, using the "no" parameter is very helpful. The syntax is "--no
  [whatever subject you would like to be withheld] (ex: "A futuristic zoo, --no animals")
</p>
<p>
  In the below image, the Midjourney command included "--no seats" which resulted in a
  person boarding a train without any seats available.
</p>

<img src="/img/midjourney_6.jpg" class="article-body-img" />

<p>Now it's your turn to use these tips to become a Midjourney master!</p>
