:root {
  --clr-primary-100: #ffffff;
  --clr-primary-200: #141414;
  --clr-primary-300: #c5c5c5;
  --clr-primary-900: #000000;
}

#preloader {
  background: var(--clr-primary-900) url(img/loader.gif) no-repeat center;
  background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.logo,
model-viewer,
.carousel-inner,
.carousel-icon {
  animation: glide 1s;

  /*
    spin:   the keyframes (=animation) we want to have
    5s:     how long it should take for one iteration
    infinite: how often should it repeat
    linear: the easing between the different key frames You can also try 'ease'
  */
}

@keyframes glide {
  0% {
    transform: translateX(-2000px);
  }
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  } /* end point */
}

.model,
.section-about,
.section-1, .section-article
form {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

video {
  height: 100%;
  width: auto;
  background-position: center;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-primary-900);
  border-image-repeat: repeat;
  background-size: 150%;
  height: 100% I !important;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

p {
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--clr-primary-100);
}

a {
  color: inherit;
  text-decoration: none;
}

model-viewer {
  width: 25rem;
  height: 20rem;
  margin: 0 auto;
}

h1,
h2 {
  color: var(--clr-primary-100);
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  
}

h3 {
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  color: var(--clr-primary-300);
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--clr-primary-300);
}

h5 {
  font-size: 1rem;
  color: var(--clr-primary-300);
}

ul {
  padding-left: 0rem;
}

.menu-btn {
  width: 30px;
  object-fit: contain;
}

.menu-btn:hover {
  cursor: pointer;
}

.close-btn {
  width: 30px;
  object-fit: contain;
}

.banner {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.navbar {
  background-color: var(--clr-primary-900);
  position: fixed;
  width: 100%;
  z-index: 9998;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  padding-right: 1rem;
  padding-left: 1rem;
}
.navbar.sticky {
  background: var(--clr-primary-900);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--clr-primary-100);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
  font-weight: bold;
}
.menu-list li a {
  color: var(--clr-primary-100);
  font-size: 1.25rem;
  margin-left: 5rem;
  text-decoration: none;
  transition: all 500ms;
}

.menu-list li a:hover {
  color: var(--clr-primary-100);
  opacity: 80%;
}

.snippet {
  margin-bottom: 5rem;
}

.article-button {
  padding: .5rem 2rem .5rem 2rem;
  border-radius: 5rem;
  background-color: var(--clr-primary-400);
  border-style: solid;
  border-color: var(--clr-primary-100);
  transition: all 300ms;
}

.article-button:hover {
  opacity: 80%;
}

.article-list p {
  margin-bottom: 5rem;
}

.article-list a {
  color: var(--clr-primary-300);
  font-weight: bold;
  transition: all 300ms;
  font-size: 1.25rem;
}

.article-img-link {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  padding: 0rem;
  margin-bottom: 1rem;
  transition: all 300ms;
}
.article-img-link:hover {
  filter: grayscale(1);
}

.article-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  padding: 0rem;
  margin-bottom: 1rem;
  transition: all 300ms;
  
}

.article-body-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
 
}

.article-body-video {
  position: relative;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
 
}

.article-body-video iframe{
position: absolute;

 
}





#section-up {
  width: 2rem;
  height: auto;
  transition: all 300ms;
  cursor: pointer;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
  z-index: 9997;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  background-color: rgba(0,0,0,.25);
  border-radius: .5rem;
  padding: .25rem;
  
}

.spacer {
  height: 7rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--clr-primary-900);
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

body.disabled {
  overflow: hidden;
}
.icon {
  display: block;
}
.icon.hide {
  display: none;
}

.carousel-icon {
  width: 2rem;
}

.carousel-inner {
  margin: 0rem 0rem 7rem 0rem;
}

.carousel-item {
  height: 20rem;
  background-color: var(--clr-primary-900);
  position: relative;
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 5rem 0rem 5rem 0rem;
}

.carousel-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
}

.carousel-button {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 50%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: 0.1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: 0.25rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  margin: 1rem;
}

.carousel-control-prev {
  vertical-align: 50%;
}

.logo-image {
  width: 10rem;
  padding: 0.5rem;
  transition: opacity 500ms;
}

.container {
  color: var(--clr-primary-300);
}

.container p {
  text-align: center;
}

.section-1-button {
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-900);
  width: 50%;
  padding: 0.5rem;
  border-radius: 5rem 0rem 5rem 0rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--clr-primary-100);
  font-weight: bold;
  font-size: 1rem;
  transition: all 200ms ease-in-out;
  margin: 3rem;
}

.section-1-button:hover {
  cursor: pointer;
  background-color: var(--clr-primary-200);
  border-radius: 5rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(255, 255, 255, 0.3);
}

.contact-button {
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-900);
  width: 50%;
  padding: 0.5rem;
  border-radius: 5rem 0rem 5rem 0rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--clr-primary-100);
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  margin: auto;
  margin-top: 2rem;
}

.contact-button:hover {
  cursor: pointer;
  background-color: var(--clr-primary-200);
  border-radius: 5rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(255, 255, 255, 0.3);
}

.section-1 {
  text-align: center;
}

.section-about {
  padding: 0 2rem;
  margin-top: 3rem;
}

.section-about h2 {
  font-size: 2rem;
}
.section-about h3 {
  font-size: 1.25rem;
  font-style: italic;
}

.section-article {
  padding: 0 2rem;
  margin-top: 3rem;
}

.section-article h1, .section-article h2, .section-article h3{
  padding: 0rem;
  text-align: left;
}


.section-article h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
 

}

.section-article h2 {
  font-size: 2rem;
  margin-top: 2rem;
 

}

.section-article h3 {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 1rem;



}



.footer {
  background: var(--clr-primary-900);
  color: var(--clr-primary-100);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  font-size: 0.75rem;
  padding-top: 1rem;
  margin-top: auto;

  align-items: center;

  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;

  top: 100%;
  position: sticky;
}

.footer-logo {
  width: 10rem;
  margin: 1rem;
}

.footer-narrow {
  padding-top: 1rem;
  max-width: 100%;
  color: var(--clr-primary-200);
}

.social-img {
  width: 4rem;
  height: auto;
  margin: 1rem 0.5rem;
  transition: all 300ms;
}

.social-img:hover {
  opacity: 75%;
}

.copyright {
  padding-top: 2rem;
  text-align: center;
  line-height: 0em;
  font-size: 0.75rem;
  color: var(--clr-primary-100);
  margin-bottom: 4rem;
}

@media (max-width: 1099px) {
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    left: -100%;
    top: 0rem;
    display: block;
    padding: 3rem 0;
    text-align: left;
    padding-left: 2rem;
    transition: all 0.25s ease-in-out;
    background-color: var(--clr-primary-900);
  }

  .navbar.show .menu-list {
    left: 0%;
    padding-bottom: 20rem;
  }
  .navbar .menu-list li {
    margin-top: 2rem;
  }
  .navbar .menu-list li a {
    font-size: 1.5rem;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0rem;
  }
}

.form {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.formLogo {
  width: 10rem;
  height: auto;
  object-fit: contain;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Desktop CSS Below */

@media (min-width: 1100px) {
  #preloader {
    background-size: 5%;
  }

  .navbar .content {
    display: flex;
    align-items: center;
  }

  .menu-btn,
  .close-btn {
    display: none;
  }

  .menu-list li a:hover {
    color: var(--clr-primary-300);
    transition: all 500ms;
  }

  .navbar .content {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }

  .article-img-link,
  .article-img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }


  model-viewer {
    width: 40%;
    height: 25rem;
    margin: 0 auto;
   
  }

  .carousel {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .carousel-item {
    height: 40rem;
  }

  .carousel-inner {
    margin: 0rem 0rem 8rem 0rem;
  }

  .section-1-button {
    width: 25%;
  }

  .contact-button {
    width: 25%;
  }

  .section-about {
    padding: 0 20rem;
    align-items: center;
    text-align: left;
  }

  .section-article {
    padding: 0 20rem;
    align-items: center;
    text-align: left;

  }

  .article-body-img {
    width: 100%;
    height: 40rem;
    object-fit: contain;
    margin-bottom: 1rem;
   
  }

  .article-body-video {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 1rem;
   
  }
  



}




