---
title: About | Feasible Creative
layout: 'base.njk'
---

<div class="main-content"></div>
<div class="spacer"></div></div><h1>ABOUT</h1><h3>Born on the Internet</h3><div class="section-about">
<p>
  <strong>Feasible Creative</strong>
  was started in 2011 as an outlet to show the world original graphic illustrations of underground music artists. After
  gaining praise from these artists and fans alike, the brand developed into a graphic design/web development freelancing
  business. Initial freelancing projects included creating logos for small businesses, designing social media avatar
  illustrations, and crafting video advertisements.</p>
<p>Most recently, feasible creative has further evolved into a
  <a href="https://www.youtube.com/channel/UC5nrnzZ5sWYNLkdvNRtE-4g">YouTube</a>
  platform with Business, Design & Productivity Growth at the forefront of operations. Specific video topics currently
  include Canva Tutorials, Personal Budgeting Advice, Excel Tips, and more!</p>
<p>Our mission remains to
  <em>bring creative visions to life</em>.</p></div><div class="section-1">
<a href="index.html">
  <button class="section-1-button">Return Home</button>
</a></div>