---
title: About | Feasible Creative
layout: 'base.njk'
description: 'test'
keywords: 'test'


---

<div class="main-content"></div>
<div class="spacer"></div></div><h1>ABOUT</h1>
<h2>Born on the Internet</h2>
<div class="section-about">
<p>
  <strong>Feasible Creative</strong> was started in 2011 as an outlet to show the world original graphic illustrations of underground music artists. After gaining praise from these artists and fans alike, the brand developed into a graphic design & web development freelancing business. Initial freelancing projects included creating logos for businesses, designs for social media influencers, and crafting video advertisements.</p>
<p>Since its start, Feasible Creative has further evolved into a
  <a href="https://www.youtube.com/channel/UC5nrnzZ5sWYNLkdvNRtE-4g"><strong>YouTube</strong></a>
  platform with Business, Marketing & Design Technology as the main focus for content creation. Specific video topics currently
  include AI Art, Graphic Design Tutorials and more!</p>
<p>As the world continues to change, our mission remains to
  <em>bring creative visions to life</em>.</p></div><div class="section-1">
<a href="index.html">
  <button class="section-1-button">Return Home</button>
</a></div>