---
title: feasible creative | Design & Web Development Digital Agency
layout: 'base.njk'
---


<div id="preloader"></div>
<div class="spacer"></div></div><model-viewer
  id="reveal"
  loading="eager"
  src="img/3D Logo.glb"
  camera-controls="camera-controls"
  poster="poster.webp"
  camera-orbit="0deg 75deg auto"
  alt="3D feasible creative logo"></model-viewer><div class="section-1">
<a href="/work/">
  <button class="section-1-button">Explore</button>
</a></div>


<h2>Featured Articles</h2>
 <div class="section-article">
    <ul class="article-list">
      
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}



        {% endfor %}
      </ul>
</div>

